*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#main-heading{
    text-align: center;
    padding: 10px;
}
#todo-text{
    border: 1px solid black;
    padding: 10px 25px;
}
#todo-date{
     border: 1px solid black;
    padding: 8px 25px;
}
#add{
    background-color: rgb(44, 153, 44);
    color: white;
    padding: 8px 30px;
    border-radius: 5px;
}
#delete{
    background-color: rgb(221, 11, 11);
    color: white;
    padding: 8px 30px;
    border-radius: 5px;
    margin: 10px;
}
.todo-items{
    display: flex;
    justify-content: space-around;
}
.grid-container{
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns:45% 30% 20%;
    row-gap: 5px;
    column-gap: 30px;
    margin-top: 15px;
    align-items: center;
}